@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-sarabun), sans-serif;
  background-color: #ffffff;
  color: oklch(0.21 0.034 264.665);
}

.my-container {
  @apply px-3 2xl:container lg:px-8 2xl:mx-auto;
}
